In [23]:
import pandas as pd

df = pd.read_csv("dog_intelligence.csv")
info_df = pd.read_csv("AKC Breed Info.csv")


df.set_index('Breed', inplace = True)

df

,index,Classification,obey,reps_lower,reps_upper
Breed,,,,,
Border Collie,0,Brightest Dogs,95%,1,4
Poodle,1,Brightest Dogs,95%,1,4
German Shepherd,2,Brightest Dogs,95%,1,4
Golden Retriever,3,Brightest Dogs,95%,1,4
Doberman Pinscher,4,Brightest Dogs,95%,1,4
...,...,...,...,...,...
Borzoi,131,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Chow Chow,132,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Bulldog,133,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Basenji,134,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Afghan Hound,135,Lowest Degree of Working/Obedience Intelligence,NaN,81,100

In [21]:
info_df.set_index('Breed', inplace = True)

info_df

,index,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
Breed,,,,,
Akita,0,26,28,80,120
Anatolian Sheepdog,1,27,29,100,150
Bernese Mountain Dog,2,23,27,85,110
Bloodhound,3,24,26,80,120
Borzoi,4,26,28,70,100
...,...,...,...,...,...
Papillon,145,8,11,5,10
Pomeranian,146,12,12,3,7
Poodle Toy,147,10,10,10,10
Toy Fox Terrier,148,10,10,4,7
Yorkshire Terrier,149,8,8,3,7