In [1]:
import pandas as pd

int_df = pd.read_csv("dog_intelligence.csv")
size_df = pd.read_csv("AKC Breed Info.csv")


int_df.set_index('Breed', inplace = True)

int_df

,index,Classification,obey,reps_lower,reps_upper
Breed,,,,,
Border Collie,0,Brightest Dogs,95%,1,4
Poodle,1,Brightest Dogs,95%,1,4
German Shepherd,2,Brightest Dogs,95%,1,4
Golden Retriever,3,Brightest Dogs,95%,1,4
Doberman Pinscher,4,Brightest Dogs,95%,1,4
...,...,...,...,...,...
Borzoi,131,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Chow Chow,132,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Bulldog,133,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Basenji,134,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Afghan Hound,135,Lowest Degree of Working/Obedience Intelligence,NaN,81,100

In [2]:
size_df.set_index('Breed', inplace = True)

size_df

,index,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
Breed,,,,,
Akita,0,26,28,80,120
Anatolian Sheepdog,1,27,29,100,150
Bernese Mountain Dog,2,23,27,85,110
Bloodhound,3,24,26,80,120
Borzoi,4,26,28,70,100
...,...,...,...,...,...
Papillon,145,8,11,5,10
Pomeranian,146,12,12,3,7
Poodle Toy,147,10,10,10,10
Toy Fox Terrier,148,10,10,4,7
Yorkshire Terrier,149,8,8,3,7

In [4]:
int_df.sort_index(inplace=True)
int_df

,index,Classification,obey,reps_lower,reps_upper
Breed,,,,,
Affenpinscher,53,Above Average Working Dogs,70%,16,25
Afghan Hound,135,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
Airedale Terrier,36,Above Average Working Dogs,70%,16,25
Akita,102,Average Working/Obedience Intelligence,50%,26,40
Alaskan Malamute,93,Average Working/Obedience Intelligence,50%,26,40
...,...,...,...,...,...
West Highland White Terrier,85,Average Working/Obedience Intelligence,50%,26,40
Whippet,94,Average Working/Obedience Intelligence,50%,26,40
Wire Fox Terrier,96,Average Working/Obedience Intelligence,50%,26,40
Wirehaired Pointing Griffon,84,Average Working/Obedience Intelligence,50%,26,40
Yorkshire Terrier,33,Above Average Working Dogs,70%,16,25

In [5]:
size_df.sort_index(inplace=True)
size_df

,index,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
Breed,,,,,
Affenpinscher,138,9,12,8,12
Afghan Hound,17,25,27,50,60
Airdale Terrier,53,22,24,45,45
Akita,0,26,28,80,120
Alaskan Malamute,18,na,na,na,na
...,...,...,...,...,...
Welsh Terrier,135,15,15,20,21
West Highland White Terrier,136,11,11,13,15
Whippet,137,18,22,27,30
Wirehaired Pointing Griffon,98,20,24,45,60
Yorkshire Terrier,149,8,8,3,7

In [6]:
df = int_df.merge(size_df, left_index=True, right_index=True, how='outer')
df

,index_x,Classification,obey,reps_lower,reps_upper,index_y,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
Breed,,,,,,,,,,
Affenpinscher,53.0,Above Average Working Dogs,70%,16.0,25.0,138.0,9,12,8,12
Afghan Hound,135.0,Lowest Degree of Working/Obedience Intelligence,NaN,81.0,100.0,17.0,25,27,50,60
Airdale Terrier,NaN,NaN,NaN,NaN,NaN,53.0,22,24,45,45
Airedale Terrier,36.0,Above Average Working Dogs,70%,16.0,25.0,NaN,NaN,NaN,NaN,NaN
Akita,102.0,Average Working/Obedience Intelligence,50%,26.0,40.0,0.0,26,28,80,120
...,...,...,...,...,...,...,...,...,...,...
West Highland White Terrier,85.0,Average Working/Obedience Intelligence,50%,26.0,40.0,136.0,11,11,13,15
Whippet,94.0,Average Working/Obedience Intelligence,50%,26.0,40.0,137.0,18,22,27,30
Wire Fox Terrier,96.0,Average Working/Obedience Intelligence,50%,26.0,40.0,NaN,NaN,NaN,NaN,NaN
Wirehaired Pointing Griffon,84.0,Average Working/Obedience Intelligence,50%,26.0,40.0,98.0,20,24,45,60
Yorkshire Terrier,33.0,Above Average Working Dogs,70%,16.0,25.0,149.0,8,8,3,7